APP_PORT=8080
APP_NAME=order-monitoring-api-broken
GIN_MODE=debug
LOG_LEVEL=info

POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_DB=orders
POSTGRES_PORT=5432
DATABASE_DSN=host=postgres user=app password=app dbname=orders port=5432 sslmode=disable TimeZone=Asia/Bishkek

SENTRY_DSN=
SENTRY_ENVIRONMENT=development
SENTRY_TRACES_SAMPLE_RATE=1.0

ELASTIC_ENABLED=false
ELASTIC_CLOUD_ID=
ELASTIC_URL=
ELASTIC_API_KEY=
ELASTIC_USERNAME=
ELASTIC_PASSWORD=
ELASTIC_INDEX_PREFIX=order-monitoring-logs
ELASTIC_QUEUE_SIZE=2000
ELASTIC_TIMEOUT_SECONDS=3
